# Terraform compiled files and directories
terraform.tfstate
terraform.tfstate.backup
.terraform/
terraform.tfstate.d/
.terraform.lock.hcl

# Terragrunt cache
.terragrunt-cache

# User state
.filecache/
*.exe
*.msi
*.rpm
*.zip

# pipenv files
Pipfile.lock

# ci
tardigrade-ci
.tardigrade-ci

#macOS local dir meta file
.DS_Store
