# Terraform compiled files and directories
terraform.tfstate
terraform.tfstate.backup
.terraform/
terraform.tfstate.d/

# Terragrunt cache
.terragrunt-cache

# User state
.filecache/
*.exe
*.msi
*.rpm
*.zip

# Files copied by terragrunt
**/common.tf

# pipenv files
Pipfile.lock
